.Tudo{
    background-color: rgb(42, 50, 165);
}
.navbar.navbar-expand-lg{
    padding: 0px;
    background-color: rebeccapurple;
}
.central{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.Apresentacao{
    background-color: black;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.dropdown-menu.show{
    background-color: blue;
}
.Apresentacaotxt{
    width: 50%;
    padding: 30px;
    color: white;
}
.Apresentacaoimg{
    width: 50%;
}
.ImagemApresentacao{
    width: 100%;
    height: 100%;
    padding: 30px;
}