@import url('https://fonts.googleapis.com/css2?family=Modak&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



h1{
    font-family: "Modak", system-ui;
    font-weight: 600;
    font-size: 32px;
}

.Tudo{
    background-color: rgb(134, 134, 134);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.navbar.navbar-expand-sm{
    background-color: rgb(40, 149, 200);
}
.dropdown-menu.show{
    background-color: hsl(199, 67%, 47%);
}
.Logo{
    width: 100px;
    height: 80px;
    margin-right: 50px;
}
.ImagemLogo{
    width: 100%;
    height: 100%;
}
.LogoNav.navbar-brand{
    width: 100%;
}
.central{
    display: flex;
    justify-content: center;
    text-align: center;
}



.BlocoAp.container-fluid{
    padding: 6%;
}
.TextoApresentacao{
    text-align: center;
}
.Apresentacaoimg{
    width: 50%;
}
.ImagemApresentacao{
    width: 100%;
    height: 100%;
    padding: 0px;
}



.BlocoProjetos.container-fluid{
    padding: 6%;
}
.ImagemProjeto{
    width: 100%;
    height: 100%;
    padding: 5% 0% 5% 0%;
}



.BlocoTecnologias.container-fluid{
    padding: 4% 6%;
}
.CaixaTec.row{
    width: 100%;
    margin: 0px;
}
.Tecnologias{
    display: flex;
    justify-content: center;
}
.ImagemTecnologia{
    width: 100%;
    height: 100%;
    padding-top: 10%;
}




.BlocoSobre.container-fluid{
    padding: 6%;
}
.SobreTxt{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2%;
}
.TituloSobre{
    text-align: start;
}
.ImgSobre{
    height: 400px;
}
.ImagemSobre{
    width: 100%;
    height: 100%;
    padding: 6%;
    border-radius: 100%;
}

.BlocoContato.container-fluid{
    padding: 6%;
}
.IconesContato{
    width: 25%;
    padding: 4%; 
}
.Redes{
    text-align: center;
}



.BlocoRodaPe.container-fluid{
    background-color: rgb(40, 149, 200);
    padding: 0px;
}
.ConteudoRodaPe.row{
    margin: 0px;
}
.ImgRodaPe{
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
}

.TextoRodaPe{
    text-align: center;
   padding-top: 2%;
    margin: 0px;
}
.ImgRodaPe.col-md-12{
    padding: 0%;
}
.IconesRodaPe{
    display: flex;
    flex-direction: row;
   text-align: center;
    padding-top: 1%;
}
.Icones{
    width: 20%;
    height: 100%;
    padding: 2%;
}