.Tudo{
    background-color: rgb(42, 50, 165);
}
.navbar.navbar-expand-lg{
    padding: 0px;
    background-color: rebeccapurple;
}
.central{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
.Apresentacao{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.dropdown-menu.show{
    background-color: blue;
}
.Apresentacaotxt{
    width: 50%;
    font-size: 100%;
    padding: 30px;
    color: white;
    text-align: center;
}
.Apresentacaoimg{
    width: 50%;
}
.ImagemApresentacao{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.BaseProjetos{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
}
.Projetos{
    width: 25%;
    height: 100%;
}
.ConteudoProjetos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.TextoProjeto{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.ImgProjetos{
    width: 100%;
    height: 40%;
    padding: 4%;
}
.ImagemProjeto{
    width: 100%;
    height: 100%;
    padding: 0%;
}
.TextoCentro{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0%;
}
.BaseTecnologias{
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Tecnologias{
    width: 25%;
    height: 100%;
    padding: 20px;
}
.ImagemTecnologia{
    width: 100%;
    height: 100%;
}
.BaseSobre{
    background-color: black;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
}
.SobreImg{
    width: 40%;
    height: 100%;
}
.SobreTxt{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: 100%;
    padding: 20px;
}
.ImagemSobre{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.TextoCentro2{
    height: 100%;
    padding: 20px;
    margin: 0px;
}
.BaseContato{
    background-color: black;
    width: 100%;
    height: 320px;
}
.Contato{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.central2{
    padding: 20px 0px 0px 0px;
    width: 100%;
}
.RodaPe{
    width: 100%;
    
    background-color: black;
}
.BaseRodaPe{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;  
}
.ConteudoRodaPe{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.ImgRodaPe{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.ImagemRodaPe{
    width: 30%;
    height: 100%;
}
.TxtRodaPe{
    height: 80%;
}
.TextoRodaPe{
    text-align: center;
   padding-top: 2%;
    margin: 0px;
    
}